<p>&nbsp;</p>
<p></p>
<h2 style="text-align: center;"><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" />Наш адрес<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></h2>
<hr />
<h3 style="text-align: center;"><span style="background-color: #ffff00;">{{ flatpage.content }}</span></h3>
<h4 style="text-align: center;"><span style="background-color: #ffff00;">Будем вас ждать!!!</span></h4>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong><span style="background-color: #ffffff;">Контактная информация</span></strong></p>
<p style="text-align: center;"><span stsyle="background-color: #ffffff;"><a style="background-color: #ffffff;" title="Контактная информация" href="http://127.0.0.1:8000/contacts/" target="_blank" rel="noopener">http://127.0.0.1:8000/contacts/</a></span></p>